<!-- background: -->
<div class="fixed top-0 left-0 right-0 bottom-0 -z-10 bg-theme1-background-main"></div>


<!-- cault: -->
<div class="cault-font p-5 w-full sm:w-[500px] bg-theme1-background-main m-auto mt-40">

	<!-- uppear section: (title and switcher) -->
    <section class="flex justify-between">
		<div>calc</div>
		<div class="flex gap-5">
			<p>theme</p>
			<!-- switcher -->
			<div>

			</div>
		</div>
	</section>

	<!-- screen section: -->
	<div class="w-full h-[100px] rounded-lg bg-theme1-background-screen flex justify-end items-center p-5">
		<p class="text-[55px] font-bold text-white ">{{screenValue}}</p>
	</div>

	<!-- buttons section: -->
	 <section class="p-5 bg-theme1-background-toggle mt-5 rounded-md grid grid-cols-4 gap-5">
		<div (click)="clickNumber(7)" class="key">
			<div>
				<p>7</p>
			</div>
		</div>
		<div (click)="clickNumber(8)" class="key">
			<div>
				<p>8</p>
			</div>
		</div>
		<div (click)="clickNumber(9)" class="key">
			<div>
				<p>9</p>
			</div>
		</div>
		<div (click)="delete()" class="key">
			<div>
				<p>DEL</p>
			</div>
		</div>
		<div (click)="clickNumber(4)" class="key">
			<div>
				<p>4</p>
			</div>
		</div>
		<div (click)="clickNumber(5)" class="key">
			<div>
				<p>5</p>
			</div>
		</div>
		<div (click)="clickNumber(6)" class="key">
			<div>
				<p>6</p>
			</div>
		</div>
		<div class="key">
			<div>
				<p>+</p>
			</div>
		</div>
		<div (click)="clickNumber(1)" class="key">
			<div>
				<p>1</p>
			</div>
		</div>
		<div (click)="clickNumber(2)" class="key">
			<div>
				<p>2</p>
			</div>
		</div>
		<div (click)="clickNumber(3)" class="key">
			<div>
				<p>3</p>
			</div>
		</div>
		<div class="key">
			<div>
				<p>-</p>
			</div>
		</div>
		<div class="key">
			<div>
				<p>.</p>
			</div>
		</div>
		<div (click)="clickNumber(0)" class="key">
			<div>
				<p>0</p>
			</div>
		</div>
		<div class="key">
			<div>
				<p>/</p>
			</div>
		</div>
		<div class="key">
			<div>
				<p>x</p>
			</div>
		</div>
		<div (click)="reset()" class="key col-span-2">
			<div>
				<p>RESET</p>
			</div>
		</div>
		<div class="key col-span-2">
			<div>
				<p>=</p>
			</div>
		</div>



	 </section>

 </div>


